{% extends "app/base.html" %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'app/css/vista.css' %}" />
{% endblock%} 

{% block contenido %} 
<div class="contenido">
    <div class="titulo">
        <h1>{{v.nombre}}</h1>
        <h2 style="color: #3A60C2;">Representante por {{t}}</h2>
    </div>
    <div class="panel">

        <form action="{%url 'app:editarVotaciones' v.id %}">
            {% csrf_token %}
            <button style="background: transparent; border:none; cursor: pointer; margin-left: 160px;">
                <i class="fa-solid fa-pencil" style="color: #3A60C2; font-size: 20px; margin-left: -60px"></i>
            </button>
        </form>

        <div class="formulario" style="margin-top: -10px;">
            <h3>Fecha de Inicio <label>{{v.fechaInicio}}</label></h3>
            <h3>Fecha de Finalización <label>{{v.fechaFinal}}</label></h3>
            <h3>Ciclo <label>CICLO</label></h3>
            <h3>Estado <label>{{e}}</label></h3>
        </div>
        <div class="porcentaje">
            <div style="width: 100%;">
                <div style="width: 40%;float: left; margin-top: -70px;"> 
                    <h2 style="margin-left: 100px; margin-top: 70px; color: blue">Porcentaje de la votación</h2>
                <i class="fa-solid fa-circle" style="color: blue; margin-left: 150px; font-size: 200px;"></i>
                </div>
                <div style="margin-left: 30%;"> 
                    <br>
                    <h3>Estudiantes habilitados para votar: <label>15</label></h3>
                    <br>
                    <h3>Estudiantes que han realizado la votación: <label>0</label></h3>
                </div>
            </div>
        </div>
        <table class="postulacion">
            <tr>
                <td><h2>Semestre</h2></td>
                <td><h2>Nombre</h2></td>
                <td><h2>Apellidos</h2></td>
                <td><h2>Cantidad de Votos</h2></td>
            </tr>
            <tr>
                <td>0</td>
                <td>N</td>
                <td>N</td>
                <td>0</td>
            </tr>
        </table>
    </div>
</div>
{% endblock%} 